
<div class="anuncios-container">
        <mat-card class="anuncios-card" *ngFor="let anuncio of anuncios">
                <mat-card-header class="header-card">
                    <mat-card-title>{{anuncio.nombre}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image *ngIf="anuncio.imagen" [src]="anuncio.imagen" >
                <img mat-card-image *ngIf="!anuncio.imagen" src="../../../assets/image-placeholder.jpg" >
                <mat-card-content>
                    <p>{{anuncio.descripcion}}</p>
                </mat-card-content>
        </mat-card>
    </div>