<div class="container-login flex-center p-t-2">
    <mat-card>
            <form>
                <mat-form-field class="w-100-p">
                    <input matInput placeholder="Nombre" name="nombre">
                </mat-form-field>
                
                <mat-form-field class="w-100-p">
                    <input matInput placeholder="Descripcion" name="descripcion">
                </mat-form-field>

                <mat-form-field class="w-100-p">
                    <input type="number" matInput placeholder="Costo" name="costo">
                </mat-form-field>
        
                <input type="file" placeholder="Imagen" name="imagen">
                <button mat-raised-button color="primary">Entrar</button>
            </form>
    </mat-card>

</div>
    
        