
<div class="productos-container">
    <mat-card class="producto-card" *ngFor="let producto of productos">
            <mat-card-header class="header-card">
                <mat-card-title>{{producto.nombre}}</mat-card-title>
                <button mat-raised-button color="primary" (click)="addToShoop(producto)">Agregar al carrito</button>
            </mat-card-header>
            <img mat-card-image *ngIf="producto.imagen" [src]="producto.imagen" >
            <img mat-card-image *ngIf="!producto.imagen" src="../../../assets/image-placeholder.jpg" >
            <mat-card-content>
                <p>{{producto.descripcion}}</p>
            </mat-card-content>
    </mat-card>
</div>