<mat-toolbar color="primary">
    <button mat-flat-button class="mat-icon-button mat-button-base mat-menu-trigger" (click)="toggleMenu()">
            <div class="mat-button-wrapper">
                <mat-icon>menu</mat-icon>
            </div>
    </button>
    <span class="margin-auto">{{helpersService.title}}</span>
    <button mat-flat-button class="mat-icon-button mat-button-base mat-menu-trigger" (click)="logout()">
            <div class="mat-button-wrapper">
                <mat-icon>power_settings_new</mat-icon>
            </div>
    </button>
    <button mat-flat-button class="mat-icon-button mat-button-base mat-menu-trigger m-l-2"  [matMenuTriggerFor]="menu">Vendedor</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="carrito/productos">Ver productos</button>
        <button mat-menu-item routerLink="carrito/pedidos">Mis pedidos</button>
        <button mat-menu-item routerLink="carrito/hacer-pedido">Hacer pedido</button>
        <button mat-menu-item routerLink="carrito/perfil">Mi perfil</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
