<div class="container-login flex-center p-t-2">
    <mat-card>
            <form (ngSubmit)="crear(model)">
                <mat-form-field class="w-100-p">
                    <input [(ngModel)]="model.nombre" matInput placeholder="Nombre" name="nombre"  />
                </mat-form-field>
                
                <mat-form-field class="w-100-p">
                    <input matInput placeholder="apellido" [(ngModel)]="model.apellido" name="apellido">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                        <input matInput placeholder="Contrasena" [(ngModel)]="model.contrasena" name="contrasena">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                    <input type="text" matInput [(ngModel)]="model.direccion" placeholder="Direccion" name="direccion">
                </mat-form-field>

                <mat-form-field>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="model.fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="model.estado" name="estado">
                            <mat-option value="1">
                                Activo
                            </mat-option>
                            <mat-option value="0">
                                Inactivo
                            </mat-option>
                        </mat-select>
                </mat-form-field>
                <br>
                <div *ngFor="let telefono of model.telefonos; let i = index">
                    <mat-form-field class="w-100-p">
                            <input type="number" matInput [placeholder]="'Telefono ' + (i+1)" [(ngModel)]="telefono.numero" [name]="'telefono' + (i+1)">
                    </mat-form-field>
                </div>
                <button mat-stroked-button (click)="agregarTelefono()">Agregar Telefono</button>
                <br>
                <div class="m-t-2">
                    <mat-label>Imagen</mat-label> <br>
                    <input type="file" [(ngModel)]="model.imagen" placeholder="Imagen" name="imagen">
                </div>
                <div class="m-t-2">
                    <button mat-raised-button color="primary">Guardar</button>
                </div>
            </form>
    </mat-card>
</div>