@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #e8e8e8;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-auto {
    margin: auto;
}

.panel {
    background: #fff;
    margin: auto;
    padding: 2em;

    &-md {
        width: 789px;
    }
}

.w-100-p {
    width: 100%;
}

.no-focus{
    &:focus {
        border: 0;
        outline: none;
    }
}
.no-p {
    padding: 0 !important;
}
.p-t-2 {
    padding-top: 2em;
}

.m-t-2 {
    margin-top: 2em;
}
.m-l-2 {
    margin-left: 2em;
}
.container-table {
    padding: 3em;
}
.error-form {
    color: red !important;
    margin: 0;
}
.image-create{
    width: 300px;
}


#chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  app-area-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.orderStatusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 900px;
  margin: auto;
}
